/* ::selection { 
    background-color: rgb(140, 4, 252); #E13300
    color: white; 
}
::-moz-selection { 
    background-color: rgb(140, 4, 252); 
    color: white; 
} */
::selection { 
    background-color: #2488e6;
    color: white; 
}
::-moz-selection { 
    background-color: #2488e6; 
    color: white; 
}

body{
    font-family: Inter,sans-serif;
}